<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'books/list', locals: {user: @user ,new: @new} %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thred>
          <tr>
            <td>image</td>
            <td>name</td>
            <td colspan="3"></td>
          </tr>
        </thred>

        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(80, 80) %></td>
            <td><%= user.name %></td>
            <td>
              <%= link_to "show", user_path(user.id) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>